<mat-card-content class="p-y-24 b-t-1">
  <form class="m-t-24" [formGroup]="profileForm" (ngSubmit)="UpdateProfileForm($event)" id="updateprofileform">
      <div class="row">
          <div class="col-sm-6">
              <mat-card class="cardWithShadow">
                  <mat-card-content class="p-y-24">
                      <mat-card-title>Change Profile</mat-card-title>
                      <mat-card-subtitle class="mat-body-1">Change your profile picture from here</mat-card-subtitle>
                      <div class="text-center m-t-24">
                          <img src="/assets/images/profile/user-1.jpg" class="rounded-circle" width="120" />
                          <div class="m-t-24">
                              <button mat-flat-button color="primary" class="m-r-8" style="border-radius: 0px;">Upload</button>
                              <button mat-stroked-button color="warn" style="border-radius: 0px;">Reset</button>
                          </div>
                          <span class="f-s-14 m-t-24 d-block">Allowed JPG, GIF or PNG. Max size of 800K</span>
                      </div>
                  </mat-card-content>
              </mat-card>
          </div>
          <div class="col-sm-6">
              <mat-card class="cardWithShadow">
                  <mat-card-content class="p-y-24">
                      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Current Password</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                          <input matInput type="password" [value]="this.user?.password" value="password" readonly style="background-color: #edeff6;" />
                      </mat-form-field>
                      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">New Password</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                          <input matInput type="password" formControlName="newPassword" />
                          <mat-hint *ngIf="f['newPassword'].touched && f['newPassword'].invalid" class="m-b-16 error-msg">
                            <div class="text-error" *ngIf="f['newPassword'].errors && f['newPassword'].errors['required']"> Password is required. </div>
                            <div class="text-error" *ngIf="f['newPassword'].errors && f['newPassword'].errors['minlength']"> Password should be 8 characters. </div>
                          </mat-hint>
                      </mat-form-field>
                      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Confirm Password</mat-label>
                      <mat-form-field appearance="outline" class="w-100 hide-hint" color="primary">
                          <input matInput type="password" formControlName="confirmPassword" />
                      </mat-form-field>
                      <mat-hint *ngIf="f['newPassword'].touched && f['confirmPassword'].invalid">
                        <div class="text-error" *ngIf="profileForm.value.newPassword !== profileForm.value.confirmpassword"> Please ensure that the new password and confirm password match. </div>
                    </mat-hint>
                  </mat-card-content>
              </mat-card>
          </div>
          <div class="col-12">
              <mat-card class="cardWithShadow">
                  <mat-card-content>
                      <mat-card-title>Personal Details </mat-card-title>
                      <div class="row m-t-24">
                          <div class="col-sm-6">
                              <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Your Name</mat-label>
                              <mat-form-field appearance="outline" class="w-100" color="primary">
                                  <input matInput type="text" [value]="this.user?.client_user_name" readonly style="background-color: #edeff6;"/>
                              </mat-form-field>
                              <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Email</mat-label>
                              <mat-form-field appearance="outline" class="w-100" color="primary">
                                  <input matInput type="email" [value]="this.user?.client_user_email"  readonly style="background-color: #edeff6;" />
                              </mat-form-field>
                          </div>
                          <div class="col-sm-6">
                              <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Phone</mat-label>
                              <mat-form-field appearance="outline" class="w-100" color="primary" >
                                <input matInput type="text" [value]="this.user?.client_user_phone" style="background-color: #ffffff;"  formControlName="client_user_phone"/>
                              </mat-form-field>
                          </div>
                      </div>
                      <div class="text-right p-24 p-t-0">
                        <button style="border-radius: 0px;" mat-flat-button="" color="primary" type="submit"> <span class="mdc-button__label">Save</span> </button>
                    </div>
                  </mat-card-content>
              </mat-card>
          </div>
      </div>
  </form>
</mat-card-content>
