<form [formGroup]="userFrom" (ngSubmit)="create($event)" id="users" enctype="multipart/form-data">
    <div class="row">
        <div class="col-lg-6">
            <mat-card class="cardWithShadow theme-card">
                <mat-card-header>
                    <mat-card-title class="m-b-0">Create User</mat-card-title>
                </mat-card-header>
                <mat-card-content class="b-t-1">
                    <div class="row">
                        <div class="col-sm-6 custom_lable_col">
                            <mat-label class="d-block custom_lable" style="font-size: 10px;">UserName</mat-label>
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput placeholder="UserName" formControlName="user_name" style="border-radius: 0px;" />
                                <mat-icon matPrefix class="op-5"> <i-tabler name="user" class="icon-20 d-flex"></i-tabler></mat-icon>
                                <mat-hint *ngIf="f['user_name'].touched && f['user_name'].invalid" class="m-b-16 error-msg">
                                    <div class="text-error" *ngIf="f['user_name'].errors && f['user_name'].errors['required']">Name is required.</div>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 custom_lable_col">
                            <mat-label class="d-block custom_lable">UserPhone</mat-label>
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput type="" number placeholder="UserPhone" formControlName="user_phone" style="border-radius: 0px;" />
                                <mat-icon matPrefix class="op-5"> <i-tabler name="user" class="icon-20 d-flex"></i-tabler></mat-icon>
                                <mat-hint *ngIf="f['user_phone'].touched && f['user_phone'].invalid" class="m-b-16 error-msg">
                                    <div class="text-error" *ngIf="f['user_phone'].errors && f['user_phone'].errors['required']">Phone is required.</div>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 custom_lable_col">
                            <mat-label class="d-block custom_lable">Designation</mat-label>
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput placeholder="Designation...." formControlName="user_designation" style="border-radius: 0px;" />
                                <mat-icon matPrefix class="op-5"> <i-tabler name="user" class="icon-20 d-flex"></i-tabler></mat-icon>
                                <mat-hint *ngIf="f['user_designation'].touched && f['user_designation'].invalid" class="m-b-16 error-msg">
                                    <div class="text-error" *ngIf="f['user_designation'].errors && f['user_designation'].errors['required']">Phone is required.</div>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                         <div class="col-sm-6 custom_lable_col">
                            <mat-label class="d-block custom_lable">Users</mat-label>
                            <mat-form-field appearance="outline" class="custom-width mt-5">
                            <input type="text" placeholder="Select Agent" aria-label="Number"  [formControl]="firstControl" matInput [matAutocomplete]="auto3" />
                            <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displaySelectedAgent" (optionSelected)="onOptionSelected($event)">
                            <mat-option *ngFor="let agent of filteredOptions | async" [value]="agent">
                                {{ agent.name }}
                            </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        </div>
                        <div class="col-sm-6 custom_lable_col">
                            <mat-label class="d-block custom_lable">Email</mat-label>
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput type="email" placeholder="Email" formControlName="user_email" style="border-radius: 0px;" />
                                <mat-icon matPrefix class="op-5"> <i-tabler name="user" class="icon-20 d-flex"></i-tabler></mat-icon>
                                <mat-hint *ngIf="f['user_email'].touched && f['user_email'].invalid" class="m-b-16 error-msg">
                                    <div class="text-error" *ngIf="f['user_email'].errors && f['user_email'].errors['required']">Phone is required.</div>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 custom_lable_col">
                            <mat-label class="d-block custom_lable">Password</mat-label>
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput type="password" placeholder="Password" formControlName="user_password" style="border-radius: 0px;" />
                                <mat-icon matPrefix class="op-5"> <i-tabler name="password" class="icon-20 d-flex"></i-tabler></mat-icon>
                                <mat-hint *ngIf="f['user_password'].touched && f['user_password'].invalid" class="m-b-16 error-msg">
                                    <div class="text-error" *ngIf="f['user_password'].errors && f['user_password'].errors['required']">Password is required.</div>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 custom_lable_col">
                            <mat-label class="d-block custom_lable" style="font-size: 10px;">Status</mat-label>
                            <mat-form-field appearance="outline">
                                <mat-label class="d-block custom_lable">Status</mat-label>
                                <mat-select placeholder="Type to Search" formControlName="user_status">
                                    <mat-option *ngFor="let option of options" [value]="option.value"> {{ option.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 custom_lable_col">
                            <mat-label class="d-block custom_lable" style="font-size: 10px;">Sort Order</mat-label>
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput type="email" placeholder="Sort Order" formControlName="sort_order" style="border-radius: 0px;" />
                                <mat-icon matPrefix class="op-5"> <i-tabler name="user" class="icon-20 d-flex"></i-tabler></mat-icon>
                                <mat-hint *ngIf="f['sort_order'].touched && f['sort_order'].invalid" class="m-b-16 error-msg">
                                    <div class="text-error" *ngIf="f['sort_order'].errors && f['sort_order'].errors['required']">Role is required.</div>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label">User's Photo</label>
                                <input type="file" class="form-control" (change)="userImage($event)" placeholder="Sort Order" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row d-flex justify-content-end ">
                        <div class="col-sm-12"><button style="border-radius: 0px;" type="submit" type="submit" [disabled]="this.userFrom.invalid || isNextDisabled" mat-flat-button color="primary">Send</button></div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-6">
            <mat-card>
                <mat-card-header>
                    <mat-card-title class="m-b-0">User Role</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="mb-3">
                         <mat-radio-group formControlName="checkedItems" (change)="toggleRadio()">
                            <mat-radio-button *ngFor="let item of DefineRoles" [value]="item.id">
                                {{ item.name | titlecase  }}
                            </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="f['checkedItems'].touched && f['checkedItems'].invalid">
                            <div *ngIf="f['checkedItems'].errors && f['checkedItems'].errors?.['required']" class="text-danger">UserRole is required</div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</form>


