<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <form [formGroup]="saleForm" (ngSubmit)="submitForm($event)" id="leadForm" enctype="multipart/form-data">
      <div class="row">
        <div class="col-sm-3">
          <mat-label style="padding-left: 6px;" class="mat-subtitle-2 d-block m-b-4"> <small>Project Name</small>
          </mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Project Name #XXXXXX" formControlName="project_name"
              style="border-radius: 0px;" />
            <mat-icon matPrefix class="op-5"> <i-tabler name="user" class="icon-20 d-flex"></i-tabler></mat-icon>
            <mat-hint *ngIf="f['project_name'].touched && f['project_name'].invalid" class="m-b-16 error-msg">
              <div class="text-error" *ngIf="f['project_name'].errors && f['project_name'].errors['required']"> Project
                Name is required. </div>
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="col-sm-3">
          <mat-label style="padding-left: 6px;" class="mat-subtitle-2 d-block m-b-4"> <small>Unit Number</small>
          </mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Unit Number" formControlName="unit_number" style="border-radius: 0px;" />
            <mat-icon matPrefix class="op-5"> <i-tabler name="user" class="icon-20 d-flex"></i-tabler></mat-icon>
            <mat-hint *ngIf="f['unit_number'].touched && f['unit_number'].invalid" class="m-b-16 error-msg">
              <div class="text-error" *ngIf="f['unit_number'].errors && f['unit_number'].errors['required']">
                Unit Number is required. </div>
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="col-sm-3">
          <mat-label style="padding-left: 6px;" class="mat-subtitle-2 d-block m-b-4"> <small>Selling Price</small>
          </mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Price #00000" formControlName="selling_price" style="border-radius: 0px;" />
            <mat-icon matPrefix class="op-5"> <i-tabler name="user" class="icon-20 d-flex"></i-tabler></mat-icon>
            <mat-hint *ngIf="f['selling_price'].touched && f['selling_price'].invalid" class="m-b-16 error-msg">
              <div class="text-error" *ngIf="f['selling_price'].errors && f['selling_price'].errors['required']">
                Selling Price is required. </div>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-label style="padding-left: 6px;" class="mat-subtitle-2 d-block m-b-4"> <small>BedRoom</small>
          </mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="BedRomm #00" type="number" formControlName="bedrooms"
              style="border-radius: 0px;" />
            <mat-icon matPrefix class="op-5"> <i-tabler name="user" class="icon-20 d-flex"></i-tabler></mat-icon>
            <mat-hint *ngIf="f['bedrooms'].touched && f['bedrooms'].invalid" class="m-b-16 error-msg">
              <div class="text-error" *ngIf="f['bedrooms'].errors && f['bedrooms'].errors['required']"> BedRooms Name is
                required. </div>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-label style="padding-left: 6px;" class="mat-subtitle-2 d-block m-b-4"> <small>Total Area</small>
          </mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Total Area" formControlName="total_area" type="number"
              style="border-radius: 0px;" />
            <mat-icon matPrefix class="op-5"> <i-tabler name="user" class="icon-20 d-flex"></i-tabler></mat-icon>
            <mat-hint *ngIf="f['total_area'].touched && f['total_area'].invalid" class="m-b-16 error-msg">
              <div class="text-error" *ngIf="f['total_area'].errors && f['total_area'].errors['required']"> Total Area
                is required. </div>
            </mat-hint>
          </mat-form-field>
        </div>
        <!-- <div class="col-sm-3">
          <mat-label style="padding-left: 6px;" class="mat-subtitle-2 d-block m-b-4"> <small>Built-Up Area</small>
          </mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Built-Up Area" type="number" formControlName="built_up_area"
              style="border-radius: 0px;" />
            <mat-icon matPrefix class="op-5"> <i-tabler name="user" class="icon-20 d-flex"></i-tabler></mat-icon>
            <mat-hint *ngIf="f['built_up_area'].touched && f['built_up_area'].invalid" class="m-b-16 error-msg">
              <div class="text-error" *ngIf="f['built_up_area'].errors && f['built_up_area'].errors['required']"> Built
                Up is required. </div>
            </mat-hint>
          </mat-form-field>
        </div> -->
        <div class="col-sm-3">
          <mat-label style="padding-left: 6px;" class="mat-subtitle-2 d-block m-b-4"> <small>Payable Now</small>
          </mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Payable-Now" type="number" formControlName="payable_now"
              style="border-radius: 0px;" />
            <mat-icon matPrefix class="op-5"> <i-tabler name="user" class="icon-20 d-flex"></i-tabler></mat-icon>
            <mat-hint *ngIf="f['payable_now'].touched && f['payable_now'].invalid" class="m-b-16 error-msg">
              <div class="text-error" *ngIf="f['payable_now'].errors && f['payable_now'].errors['required']"> Payable
                Now is required. </div>
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="col-sm-3">
          <mat-label style="padding-left: 6px;" class="mat-subtitle-2 d-block m-b-4"> <small> 2% Plus VAT Pay
              to Agency</small>
          </mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Payable-VAT" type="number" formControlName="vat_rate"
              style="border-radius: 0px;" />
            <mat-icon matPrefix class="op-5"> <i-tabler name="user" class="icon-20 d-flex"></i-tabler></mat-icon>
            <mat-hint *ngIf="f['vat_rate'].touched && f['vat_rate'].invalid" class="m-b-16 error-msg">
              <div class="text-error" *ngIf="f['vat_rate'].errors && f['vat_rate'].errors['required']"> Payable
                Now is required. </div>
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>

        <div class="col-sm-12" style="margin-bottom: 10px;">
          <label for="">Payable At The Transfer...</label>
          <hr>
        </div>

        <div class="col-sm-3">
          <mat-label style="padding-left: 6px;" class="mat-subtitle-2 d-block m-b-4"> <small>Payable to Seller</small>
          </mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Payable-To-Seller" type="number" formControlName="payable_to_seller"
              style="border-radius: 0px;" />
            <mat-icon matPrefix class="op-5"> <i-tabler name="user" class="icon-20 d-flex"></i-tabler></mat-icon>
            <mat-hint *ngIf="f['payable_to_seller'].touched && f['payable_to_seller'].invalid" class="m-b-16 error-msg">
              <div class="text-error"
                *ngIf="f['payable_to_seller'].errors && f['payable_to_seller'].errors['required']"> Payable to Seller is
                required
              </div>
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="col-sm-3">
          <mat-label style="padding-left: 6px;" class="mat-subtitle-2 d-block m-b-4"> <small>DLD Fee</small>
          </mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="DLD-Fee" type="number" formControlName="dld_fee" style="border-radius: 0px;" />
            <mat-icon matPrefix class="op-5"> <i-tabler name="user" class="icon-20 d-flex"></i-tabler></mat-icon>
            <mat-hint *ngIf="f['dld_fee'].touched && f['dld_fee'].invalid" class="m-b-16 error-msg">
              <div class="text-error" *ngIf="f['dld_fee'].errors && f['dld_fee'].errors['required']"> DLD is required
              </div>
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="col-sm-2">
          <mat-label style="padding-left: 6px;" class="mat-subtitle-2 d-block m-b-4"> <small>NOC Fee</small>
          </mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="NOC Fee" type="number" formControlName="noc_fee" style="border-radius: 0px;" />
            <mat-icon matPrefix class="op-5"> <i-tabler name="user" class="icon-20 d-flex"></i-tabler></mat-icon>
            <mat-hint *ngIf="f['noc_fee'].touched && f['noc_fee'].invalid" class="m-b-16 error-msg">
              <div class="text-error" *ngIf="f['noc_fee'].errors && f['noc_fee'].errors['required']"> NOC Fee is
                required
              </div>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-sm-2">
          <mat-label style="padding-left: 6px;" class="mat-subtitle-2 d-block m-b-4"> <small>Transfer Fee</small>
          </mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Transfer Fee" type="number" formControlName="trustee_fee"
              style="border-radius: 0px;" />
            <mat-icon matPrefix class="op-5"> <i-tabler name="user" class="icon-20 d-flex"></i-tabler></mat-icon>
            <mat-hint *ngIf="f['trustee_fee'].touched && f['trustee_fee'].invalid" class="m-b-16 error-msg">
              <div class="text-error" *ngIf="f['trustee_fee'].errors && f['trustee_fee'].errors['required']"> Transfer
                Fee
                required
              </div>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-sm-2">
          <!-- <mat-label style="padding-left: 6px;" class="mat-subtitle-2 d-block m-b-4"> <small>Transfer Fee</small>
          </mat-label> -->

          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"> Type </mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select value="choose">
              <mat-option value="choose">choose</mat-option>
              <mat-option value="apartment">Apartment</mat-option>
              <mat-option value="townhouse">Townhouse</mat-option>
              <mat-option value="villas">Villas</mat-option>
              <mat-option value="penthouse">Penthouse</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Built-Up Area" type="number" formControlName="built_up_area"
              style="border-radius: 0px;" />
            <mat-icon matPrefix class="op-5"> <i-tabler name="user" class="icon-20 d-flex"></i-tabler></mat-icon>
            <mat-hint *ngIf="f['built_up_area'].touched && f['built_up_area'].invalid" class="m-b-16 error-msg">
              <div class="text-error" *ngIf="f['built_up_area'].errors && f['built_up_area'].errors['required']"> Built
                Up is required. </div>
            </mat-hint>
          </mat-form-field>
        </div>


        <div class="col-sm-12">
          <label for="">When You Payable Remaing...</label>
          <hr>
        </div>
      </div>
      <div [formGroup]="saleForm" style="margin-top: 10px;">
        <div formArrayName="datePriceArray">
          <div *ngFor="let row of datePriceArray.controls; let i = index">
            <div [formGroupName]="i" class="row">
              <div class="col-sm-3">
                <mat-label style="padding-left: 6px;" class="mat-subtitle-2 d-block m-b-4"> <small> Installment
                    Date</small> </mat-label>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker2" formControlName="date" />
                  <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-label style="padding-left: 5px;" class="mat-subtitle-2 d-block m-b-4"> <small>Installment
                    Price</small>
                </mat-label>
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="Price" type="number" formControlName="price" (keyup)="onPriceChange()"
                    style="border-radius: 0px;" />
                  <mat-icon matPrefix class="op-5"> <i-tabler name="user" class="icon-20 d-flex"></i-tabler></mat-icon>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-label style="padding-left: 5px;" class="mat-subtitle-2 d-block m-b-4"> <small>
                    How many Percent you are pay for example 10
                    %</small>
                </mat-label>
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="10" type="number" formControlName="percent"
                    style="border-radius: 0px;" />
                  <mat-icon matPrefix class="op-5"> <i-tabler name="user" class="icon-20 d-flex"></i-tabler></mat-icon>
                </mat-form-field>
              </div>

              <div class="col-sm-1">
                <button color="warn" style="margin-top: 20px;" mat-icon-button (click)="removeDatePriceRow(i)"
                  class="d-flex justify-content-center">
                  <i-tabler name="trash" class="icon-18 d-flex"></i-tabler>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 d-flex justify-content-end">
          <button type="button" mat-flat-button (click)="addDatePriceRow()" color="primary">Add Row</button>
        </div>
      </div>
      <div class="col-sm-12">
        <mat-label style="padding-left: 6px;" class="mat-subtitle-2 d-block m-b-4"> <small>Hand-Over</small>
        </mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="Hand-Over" readonly formControlName="hand_over" style="border-radius: 0px;" />
          <mat-icon matPrefix class="op-5"> <i-tabler name="user" class="icon-20 d-flex"></i-tabler></mat-icon>
        </mat-form-field>
      </div>
      <!--  .csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel -->
      <div class="col-sm-12 d-flex align-items-end justify-content-end">
        <!-- <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"> Upload Floor Plan Image As well</mat-label> <br> -->
        <input #uploadFile (change)="upload($event)" type="file" accept=".jpg, .jpeg, .png, .webp" />
      </div>
      <!-- <div class="col-sm-12 d-flex align-items-end justify-content-end">
        <input #uploadFile (change)="upload($event)" type="file" accept=".jpg, .jpeg, .png, .webp" /> <br>
      </div> -->
      <br>
      <div class="row justify-content-end">
        <div class="col-sm-12"> <button mat-flat-button color="primary">Send</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>